body{
    color:#DDF5E5;
    background-color:#F3BAC3;
}
header{
    color: #424242;
    margin: 15px;
}
a, em{
    text-decoration: none;
    color:#F6821F
}

em:hover{
    cursor: pointer;
}

nav a{
    color:#424242;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #DDF5E5;
}

section{
    background-color: #424242;
    margin: 50px;
    
}

ul li{
    color:#F6821F;
}

#aboutme article{
    padding: 30px;
}


h1{
    display: inline;
  
}

h2{
    padding-left:20px;
    padding-top: 20px;
}
nav{
    display: inline;
    float:right;
    padding: 7px;
}

nav h3{
    display: inline;
}


article{
    display: flex;
    flex-wrap: wrap;
   
    justify-content: space-around;  
    gap:10px 10px;
    align-content: space-around;
    justify-items: center;
}
#hiddenpic{
    display: none;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    gap: 30px 20px;
    padding-bottom: 40px;

}

#intro{
   max-width: 40%;
   vertical-align: middle;
   line-height: 25px;
   word-spacing: 5px;
   font-family:Verdana, Geneva, Tahoma, sans-serif
}



#picture{

    max-width: 35%;
    height:fit-content;
    border-radius: 10%;
    box-shadow: 12px 12px 2px 1px #DDF5E5;
    

   
}

#guyu,#bailu,#lidong,#lixia, #chunfen, #hanlu{
    max-width: 25%;
    height:fit-content;
    border-radius: 10%;
    
}


#grid{
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: space-evenly;
    padding: 50px;
}

#grid img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 8px 8px 2px 1px #DDF5E5
    
}


#button{
   
    display: none;
    align-self: flex-end;
    justify-self: end;



    border: 2px solid hsl(28, 96%, 48%);
    border-radius: 5px;
    color: #DDF5E5;
    text-shadow: 0 -2px #680e7a;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px -2px 2px rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(255, 255, 255, 0.8) inset;
    background:#F6821F;
    background: linear-gradient#F6821F, #500e45);
    text-shadow: 0 -2px #680e7a;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:8px;
    padding-right:8px;


}

#collapse{
    border: 2px solid hsl(28, 96%, 48%);
    border-radius: 5px;
    color: #DDF5E5;
    text-shadow: 0 -2px #680e7a;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px -2px 2px rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(255, 255, 255, 0.8) inset;
    background:#F6821F;
    background: linear-gradient#F6821F, #500e45);
    text-shadow: 0 -2px #680e7a;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:8px;
    padding-right:8px;
    width: 100px;

    align-self: flex-end;
    justify-self: end;
    display: none;
    text-align: center;

    
   
}

#button:hover, #collapse:hover{
    cursor: pointer;
}



li{
    
    margin-left: 60px;
    padding: 10px;
    padding-bottom: 40px;
}

li a{
    font-size: large;

}

#contact h3{
    margin-left: 60px;
}

#contact p{
    padding-bottom: 10px;
    display: inline;
    position:relative;
    bottom: 60px;
    margin-left: 10px;
   
}

#contact img{
    display: inline-block;
    width:50px;
    margin-left: 60px;
    padding-bottom: 40px;
    
}

