body{
    color:#DDF5E5;
    background-color:#F3BAC3;
}
header{
    color: #424242;
    margin: 15px;
}
a{
    text-decoration: none;
    color:#F6821F
}

nav a{
    color:#424242;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #DDF5E5;
}

section{
    background-color: #424242;
    margin: 15px;
}

ul li{
    color:#F6821F;
}

#aboutme article{
    padding: 30px;
}

#omaha{
    
}

h1{
    display: inline;
  
}
nav{
    display: inline;
    float:right;
    padding: 7px;
}

nav h3{
    display: inline;
    

}


article{
    display: flex;
    align-items: stretch;
    justify-content: space-around;

    
}

#intro{
   max-width: 40%;
   vertical-align: middle;
   line-height: 25px;
   word-spacing: 5px;
   font-family:Verdana, Geneva, Tahoma, sans-serif
}



#picture{

    max-width: 35%;
    height:fit-content;
    border-radius: 10%;box-shadow: 12px 12px 2px 1px #DDF5E5;

   
}
#picture img{
   
   
    

}